@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;500;600;700;800&family=Poppins&family=Roboto:wght@700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

/* FOR USERS/INDEX */
.user-container {
  padding: 3rem 6rem;
  background-color: #f4f4f4;
}

.user-wrapper {
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0;
}

.user-image {
  width: 35vh;
}

a {
  text-decoration: none;
}

.username a {
  font-size: 40px;
  text-decoration: none;
  color: #282828;
  font-family: 'poppins', sans-serif;
}

.btn a {
  font-weight: 700;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 10px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-btn a {
  font-size: 12px;
  color: #fff;
  background-color: rgb(179, 65, 65);
  border-radius: 5px;
  padding: 10px;
}

.link:hover a {
  color: antiquewhite;
  background-color: rgb(150, 52, 52);
  padding: 10px;
  border-radius: 8px;
  transition: all 0.5s ease-out 0.1s;
}

.user-details {
  display: flex;
  justify-content: space-between;
}

.see-post {
  transform: translateY(3rem);
}

/* FOR USERS/SHOW  */
.show-wrapper {
  background-color: #fff;
  padding: 2rem 3rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 0;
  box-shadow: 0 0 10px #00000062;
}

.show-image {
  width: 30vh;
}

.user-name {
  font-size: 35px;
}

.post-count {
  float: right;
}

.bio {
  background: #f4f4f4;
  margin-top: 5px;
  padding: 1rem 3rem;
}

.post-card {
  padding: 1rem 3rem;
  padding-bottom: 50px;
  border: 1px solid #000;
  margin-bottom: 1rem;
}

.cards > div:nth-child(odd) {
  background-color: #e2e2e2;
  color: #282828;
}

.small {
  float: right;
}

.btn a:hover {
  color: brown;
}

/* THIS PART IS FOR POST/INDEX */
.comment {
  padding: 1rem 3rem;
}

/* .comments {
  overflow-y: scroll;
  max-height: 170px;
  margin: 2rem;
  background-color: #f4f4f4;
}

.comments::-webkit-scrollbar {
  width: 1em;
}

.comments::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(75, 75, 75, 0.226);
}

.comments::-webkit-scrollbar-thumb {
  background-color: rgb(180, 180, 180);
  outline: 1px solid rgb(185, 185, 185);
  border-radius: 7px;
}

.comments:active {
  cursor: grabbing;
}

.D-comments::-webkit-scrollbar-thumb:hover {
  background-color: rgb(99, 99, 99);
  outline: 1px solid slategrey;
  border-radius: 10px;
} */

/* THIS PART IS FOR POST/SHOW */
.post-wrapper {
  padding: 2rem 3rem;
  box-shadow: 0 0 10px #00000062;
  background-color: #fff;
}

/* THIS PART IS FOR THE LOGIN AND SIGNIN BUTTON */
.remember {
  color: #ffceb7;
  font-size: 15px;
}

.sign-up-box {
  background: linear-gradient(#30142b, #a12727);
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 25px 40px;
  transform: translate(-50%, -50%);
  background: linear-gradient(#30142bf3, #a12727ef);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 15px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .field {
  position: relative;
}

.login-box .field input {
  width: 100%;
  padding: 10px 0;
  font-size: 15px;
  color: #fff;
  margin-bottom: 22px;
  margin-top: 10px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .field label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .field input:focus ~ label,
.login-box .field input:valid ~ label {
  top: -20px;
  left: 0;
  color: #f68e44;
  font-size: 12px;
}

.login-box form .actions {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #b79726;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 30px;
  letter-spacing: 4px;
}

.login-box .actions:hover {
  background: #f49803;
  color: #fff;
  border-radius: 5px;
  box-shadow:
    0 0 5px #f4c803,
    0 0 25px #bd9d0b,
    0 0 50px #f4e403,
    0 0 100px #d5cf1e;
}

.login-box .actions span {
  position: absolute;
  display: block;
}

.login-box .actions span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #f4c003);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.login-box .actions span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #f4bc03);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.login-box .actions span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fde401);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.login-box .actions span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #f4b003);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

.sign-up-btn {
  background-color: #0000;
  border: none;
  color: #fff;
  font-family: 'poppins', sans-serif;
  cursor: pointer;
  font-weight: 600;
}

.alert {
  font-size: 14px;
  text-align: center;
}

.notice {
  text-align: center;
  font-size: 14px;
}

.shared-links {
  color: #f68e44;
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin-bottom: -10px;
}

.min {
  color: #f68e44;
  margin: 15px 0;
}
